@mixin button-mixin {
  font-weight: 500;
  box-shadow: none;
  border-radius: 4px;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0px !important;
  }

  color: $active-gray;
  border: 1px solid $active-gray;
  background-color: transparent;

  &:hover {
    color: $inactive-gray;
    background-color: $active-gray;
  }

  &.selected {
    color: $color-black;
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

.geo-button {
  font-size: 16px; //same as icon-button
  // font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-transform: capitalize;

  box-sizing: border-box;
  height: 36px;
  padding: 9px 12px 10px 16px;
  margin-right: 12px;

  @include button-mixin;
}

.icon-button {
  font-size: 12px;
  letter-spacing: 0.2px;
  padding: 4px 6px;
  margin-right: 8px;
  @include button-mixin;
  @include retina {
    font-size: 16px;
  }
}
