// some geodeck components

.geo-button {
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #dddddd;
  padding: spacing(0.5) spacing(1);
  margin-right: spacing(0.5);
  &:last-of-type {
    margin-right: 0px;
  }
  &.selected {
    background-color: $color-accent;
  }
}
