$toolbarWidth: spacing(6);
$toolbarWidthLg: spacing(8);
$toolIconSpace: spacing(2);
$detailbarWidth: 450px;
$controlbarHeight: 200px;

// .geodeck-app {
//   height: calc(100vh - 60px);
//   width: 100vw;
//   margin-top: -30px;
//   position: relative;
//   @include themify($themes) {
//     color: themed("colorText");
//   }
//   & > div {
//     padding-top: 30px;
//   }
//   .tool-bar {
//     @include themify($themes) {
//       background-color: themed("colorBackground");
//     }
//     height: calc(100vh - 60px);
//     width: $toolbarWidth;
//     position: absolute;
//     left: 0px;
//     top: 0px;
//     display: flex;
//     font-size: 24px;
//     flex-direction: column;
//     & > * {
//       margin-bottom: $toolIconSpace;
//       cursor: pointer;
//     }
//   }
//   .geodeck-canvas {
//     & > div {
//       padding: 30px;
//     }
//     & > div:first-child {
//       padding-top: 0px;
//     }

//     height: calc(100vh - 60px);
//     width: 100%;
//     padding-left: $toolbarWidth;
//     padding-right: $detailbarWidth;
//     background-color: #000014;
//     display: flex;
//     flex-direction: column;
//     .chart-container {
//       // background-color: yellow;
//       width: 100%;
//       flex: 1 1 0;
//       display: flex;
//       flex-direction: column;
//       .chart {
//         flex: 1 1 0;
//         width: 100%;
//         justify-content: center;
//         align-items: center;
//         // background-color: red;
//       }
//       & > div:last-child {
//         // background-color: red;
//         display: flex;
//         justify-content: space-between;
//       }
//     }
//     .control-bar {
//       height: $controlbarHeight;
//       // @include themify($themes) {
//       //   background-color: themed('colorBackground');
//       // }
//       background-color: #262626;
//       width: 100%;
//       display: flex;
//       & > div {
//         flex: 1 1 0;
//         border-right: 1px solid black;
//         &.variables {
//           display: flex;
//           flex-direction: column;
//           padding-left: 0px;
//           .variable {
//             cursor: pointer;
//             &.disabled {
//               cursor: not-allowed;
//             }
//           }
//           cursor: pointer;
//           span.anticon {
//             padding-top: 2px;
//             &.selected {
//               @include themify($themes) {
//                 color: themed("colorBubble");
//               }
//             }
//           }
//           div {
//             display: flex;
//             width: 100%;
//             .variable {
//               margin-right: auto;
//             }
//           }
//         }
//         padding: 15px;
//       }
//       .time-play {
//         flex: 1 1 200px;
//         display: flex;
//         width: 100%;
//         flex-direction: column;
//         & > div {
//           text-align: center;
//         }
//         .player-buttons {
//           padding-left: 90px;
//           padding-right: 90px;
//           font-size: 32px;
//           width: 100%;
//           display: flex;
//           justify-content: space-between;
//           margin-bottom: 5px;
//         }
//         .player-input {
//           display: flex;
//           justify-content: center;
//           margin-right: 15px;
//           .time-input {
//             position: relative;
//             input {
//               color: white;
//               background-color: transparent;
//               border: none;
//               outline: 1px solid #d5d5d5;
//               margin: 0px 5px;
//               &:focus {
//                 @include themify($themes) {
//                   outline: 1px solid themed("colorBubble");
//                 }
//               }
//             }
//             &:after {
//               color: #d5d5d5;
//               position: absolute;
//               right: 30px;
//               top: 0px;
//               content: "/120";
//             }
//           }
//         }
//         .rc-slider {
//           margin-top: 15px;
//         }
//       }
//       .simulatins {
//         margin: 15px;
//         border: 1px solid #d5d5d5;
//         padding-top: 5px;
//         border-radius: 4px;
//         display: flex;
//         flex-direction: column;
//         justify-content: flex-start;
//         align-items: flex-start;
//         h5 {
//           margin-bottom: 5px;
//           font-weight: bold;
//         }
//         .sim-table {
//           display: flex;
//           justify-content: space-between;
//           width: 60%;
//           & > div {
//             width: 45%;
//           }
//           .sim-row {
//             cursor: pointer;
//             width: 100%;
//             .legend {
//               margin-left: auto;
//               background-color: red;
//               margin-bottom: 5px;
//             }
//             display: flex;
//             justify-content: space-between;
//             span.anticon {
//               padding-top: 2px;
//               &.selected {
//                 @include themify($themes) {
//                   color: themed("colorBubble");
//                 }
//               }
//             }
//           }
//         }
//         .anticon {
//           padding-top: 2px;
//         }
//       }
//     }
//   }
//   .detail-bar {
//     @include themify($themes) {
//       background-color: themed("colorBackground");
//     }
//     height: calc(100vh - 60px);
//     width: $detailbarWidth;
//     position: absolute;
//     right: 0px;
//     top: 0px;
//   }
// }

.icon {
  &__toggle--side-bar {
    @include icon;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid inherit !important;
    &::after {
      top: -1px;
      right: -1px;
      width: 0.45em;
      height: 106%;
      border-radius: inherit;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__toggle--bottom-bar {
    @include icon;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid inherit !important;
    &::after {
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 0.4em;
      border-radius: inherit;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &__toggle--xy {
    @include icon;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid inherit !important;
    &::after {
      content: "XY";
      width: 0.4em;
      height: 100%;
      background-color: transparent;
      left: 33%;
    }
  }
}

.geodeck-app {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .tool-bar {
    min-width: spacing(6);
    max-width: spacing(6);

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(10, min-content);
    grid-gap: 1.5rem;
    padding: 1rem 0;
    @include themify($themes) {
      background-color: lighten(themed("colorBackground"), 10%);
    }

    & > * {
      // padding: $toolIconSpace;
      cursor: pointer;
      font-size: 1rem;
      @include themify($themes) {
        color: themed("colorText");
      }

      &:hover {
        @include themify($themes) {
          color: themed("colorBubble");
        }
      }
    }
  }

  .hide {
    display: none !important;
  }

  .geodeck-canvas {
    flex: 0 1 auto;

    canvas {
      // change default styles for fix responsive bug
      margin: 0 auto;
      height: 100% !important;
      display: block;
    }

    .recharts-wrapper {
      // change default styles for fix responsive bug
      // width: auto !important;
    }

    // .geodeck-canvas {
    & > div {
      // padding: 30px;
    }
    & > div:first-child {
      // padding-top: 0px;
    }

    height: calc(100vh - 60px);
    width: 100%;
    // padding-left: $toolbarWidth;
    // padding-right: $detailbarWidth;

    @include themify($themes) {
      background-color: themed("colorBackgroundBody");
    }
    // background-color: #000014;
    display: flex;
    flex-direction: column;
    .chart-container {
      width: 100%;
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      position: relative;
      .chart {
        flex: 1 1 0;
        width: 100%;
        justify-content: center;
        align-items: center;

        & .a-enter-vr {
          &.embedded {
            bottom: spacing(5);
          }
        }
      }
      & > div:last-child {
        display: flex;
        justify-content: space-between;
        // margin: 0 spacing(1) spacing(1);
        position: absolute;
        right: spacing(1);
        left: spacing(1);
        bottom: spacing(1);
      }

      .page-setting {
        // display: flex;
        & :not(:last-child) {
          margin-right: spacing(0.5);
        }

        setting {
          @include themify($themes) {
            background-color: themed("colorBackgroundBody");
          }
        }

        .active {
          @include themify($themes) {
            color: themed("colorBubble");
          }
        }
      }
    }
    .control-bar {
      // height: $controlbarHeight;
      flex: 0 1 20%;
      @include themify($themes) {
        background-color: themed("colorBackground");
        color: themed("colorTextAdditional");
      }
      // background-color: #262626;
      width: 100%;
      display: flex;

      & > div {
        flex: 1 1 0;
        border-right: 1px solid black;

        padding: spacing(2); // flex-basis = 2 * padding left/right
        &.variables {
          flex: 1 0 calc(35% - #{spacing(4)}); // flex-basis = 2 * padding left/right
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          // padding-left: 0px;
          .variable {
            cursor: pointer;
            font-size: 0.875rem;
            &.disabled {
              cursor: not-allowed;
              @include themify($themes) {
                color: darken(themed("colorTextAdditional"), 15%);
              }
            }
          }
          cursor: pointer;
          span.anticon {
            padding-top: 2px;
            font-size: 16px;
            &.selected {
              @include themify($themes) {
                color: themed("colorBubble");
              }
            }
          }
          div {
            display: flex;
            width: 100%;
            .variable {
              margin-right: auto;
              margin-left: spacing(1);
            }
          }
        }
      }
      .time-play {
        // flex: 1 1 200px;
        flex: 1 0 calc(40% - #{spacing(4)}); // flex-basis = 2 * padding left/right

        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        & > div {
          text-align: center;
        }
        .player-buttons {
          padding-left: 90px;
          padding-right: 90px;
          font-size: 32px;
          width: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: 5px;
          & :not(:last-child) {
            margin-right: spacing(1);
          }
        }
        .player-input {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 15px;
          span {
            font-size: 14px;
          }

          .time-input {
            position: relative;
            input {
              // color: white;
              // background-color: transparent;
              // border: none;
              // outline: 1px solid #d5d5d5;
              // margin: 0px 5px;

              background-color: transparent;
              border: none;
              @include themify($themes) {
                color: themed("colorBubble");
                border: 1px solid themed("colorTextAdditional");
              }
              margin: 0 spacing(1.5);
              display: flex;
              width: spacing(11);
              padding: 4px 6px;
              border-radius: 4px;
              height: 30px;
              &:focus {
                @include themify($themes) {
                  border: 1px solid themed("colorBubble");
                }
              }
            }
            &:after {
              // color: #d5d5d5;
              // position: absolute;
              // right: 30px;
              // top: 0px;
              // content: "/120";

              @include themify($themes) {
                color: themed("colorTextAdditional");
              }
              // color: #757575;
              position: absolute;
              right: 40px;
              top: 18%;
              content: "/120";
            }
          }
        }
        .player-slider {
          .slider {
            max-width: 75%;
            margin: 0 auto;
          }
        }
        .rc-slider {
          margin-top: 15px;
        }
      }
      .simulatin-loader {
        margin: spacing(2) spacing(6);
        flex: 0 0 calc(25% - #{spacing(12)}); // flex-basis = 2 * padding left/right
        @include themify($themes) {
          border: 2px solid themed("colorTextAdditional");
          color: themed("colorTextAdditional");
        }
        border-radius: spacing(2);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        // flex: 0 0 15%;

        &.active {
          @include themify($themes) {
            border-color: fade-out(themed("colorBubble"), 0.55);
            color: fade-out(themed("colorBubble"), 0.55);
          }
        }
        & > * {
          // margin-bottom: 5px;
          font-size: spacing(2.5);
          font-weight: bold;
          @include themify($themes) {
            color: inherit;
          }
        }
        .anticon {
          padding-top: 2px;
        }
      }
    }
    // }
  }

  .detail-bar {
    flex: 0 0 20%;
    @include themify($themes) {
      background-color: lighten(themed("colorBackground"), 10%);
    }
    & :first-child {
      & > p {
        padding: spacing(1) spacing(2) 0;
      }
    }
  }

  // simulation styles
  .simulation {
    flex: 1;

    &__container {
      height: 100%;

      & > * {
        margin: spacing(2) 0;
        padding-bottom: spacing(2);
      }
    }

    &__sidebar {
      padding-left: 0;
      padding-right: 0;
      @include themify($themes) {
        border-right: 0.5px solid themed("colorTextAdditional");
      }
    }

    &__view {
      // background-color: burlywood;
      display: flex;
      flex-direction: column;
      & > h4 {
        margin: spacing(1) 0 spacing(2);
      }
    }

    &__plot {
      display: grid;
      overflow-y: auto;
      &__cards {
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        // overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-gap: 2rem;
      }

      &__card {
        display: grid;
        grid-template-rows: min-content 1fr;
        // flex: 0 1 calc(33.33% - #{spacing(6)});
        // margin: spacing(3);
        // margin-bottom: spacing(3);
        // margin-top: 0;

        & p {
          font-weight: 500;
          margin-bottom: spacing(1);
          @include themify($themes) {
            color: themed("colorTextAdditional");
          }
        }
      }

      &__chart {
        // height: 200px;
        @include themify($themes) {
          border: 1px solid themed("colorBackground");
        }
      }
    }

    &__table {
      margin-bottom: spacing(3);

      &__input {
        border: none !important;
        box-shadow: none !important;
        @include themify($themes) {
          background: themed("colorBackground") !important;
          color: themed("colorText") !important;
        }
      }

      & tr:hover {
        background: none !important;
      }

      & th,
      td {
        font-weight: 300;
        text-align: center;
        min-width: 8vw;
        @include themify($themes) {
          border: 0.5px solid themed("colorBackground");
        }
      }

      & th {
        @include themify($themes) {
          color: themed("colorTextAdditional");
          background-color: themed("inboxButtonBackground");
        }
        white-space: nowrap;
      }

      & td {
        background-color: transparent !important;
        @include themify($themes) {
          color: lighten(themed("colorTextAdditional"), 15%);
        }
      }
    }

    &__button {
      margin: 0;
      padding: spacing(0.5) spacing(1.5);
      border-radius: 10px;
      font-weight: 600;
      font-size: 13px;
      line-height: 1.2;
      letter-spacing: -0.5px;
      &:active {
        color: inherit !important;
        border-color: inherit !important;
        transform: translateY(0.5px);
      }
      @include themify($themes) {
        color: #000;
      }
    }

    &__inputs {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      padding: 0 spacing(2);

      .input-group {
        position: relative;
        margin-bottom: spacing(2);
      }

      &__child {
        cursor: pointer;
        font-size: 0.75rem;
        border-width: 1px;
        border-style: solid;
        border-radius: 14px !important;
        background-color: transparent;
        @include themify($themes) {
          color: themed("colorTextAdditional");
        }

        &:focus {
          border-color: inherit;
          box-shadow: none;
        }
        &.selected {
          @include themify($themes) {
            color: themed("colorText");
            // background-color: themed("colorBackground");
          }
        }
      }

      &__icons {
        position: absolute;
        z-index: 3;
        font-size: 16px;
        @include themify($themes) {
          color: themed("colorTextAdditional");
        }
        &.selected {
          @include themify($themes) {
            color: themed("colorText");
          }
        }

        &.loading {
          right: spacing(0.5);
        }

        &.check {
          right: spacing(1);
        }
      }
    }

    &__alert {
      &--none {
        @include themify($themes) {
          color: themed("colorTextAdditional");
        }
      }
    }

    &__new {
      text-align: center;
      margin-top: spacing(2);

      &__icon {
        font-size: 1rem;
        padding: spacing(1.5);
        border-radius: 50%;
        @include themify($themes) {
          color: themed("colorTextAdditional");
          border: 1px solid themed("colorTextAdditional");
        }

        &:hover {
          @include themify($themes) {
            color: themed("colorBubble");
          }
        }
        &:focus,
        :focus-visible {
          outline: unset !important;
        }
      }
    }
  }
}
